:root {
	--vision-orange: #FE9430;
	--vision-yellow: #fbb800;
	--p: 29 99% 59%;
	--pf: 29 95.9% 52%;
	--pc: 0 0% 100%;
	--s: 44 100% 49%;
	--sf: 43 100% 46.1%;
	--sc: 0 0% 100%;
}

html {
	overflow-x: hidden;
}

::selection {
	background-color: var(--vision-orange);
	color: white;
}

body {
	background-color: #F6F6F6;
}

.decoration {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.decoration::before {
	content: '';
	background-image: url('assets/donut-yellow.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	width: 30rem;
	height: 30rem;
	position: absolute;
	top: 30rem;
	right: 0;
	transform: translateX(50%);
	z-index: -1;
}

.decoration::after {
	content: '';
	background-image: url('assets/semi-circle-orange.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	width: 30rem;
	height: 30rem;
	position: absolute;
	top: 15rem;
	left: 0;
	transform: translateX(-50%);
	z-index: -1;
}

h1, h2, h3 {
	font-weight: bold;
	margin-top: 1rem;
}

main {
	margin: 0 auto;
	margin-bottom: 6rem;
	width: 90vw;
	z-index: 2;
	position: relative;

	@media (min-width: 600px) {
		width: 75vw;
	}
}

// Pages Textes
.title-container {
	text-align: center;
	margin-bottom: 6rem;
	margin-top: 7rem;
}

.title-container h1 {
	font-size: 2rem;
	font-weight: 900;
}

.title-container b {
	font-size: 0.9rem;
	display: block;
	font-weight: normal;
	margin-bottom: -1rem;
}

.title-container p {
	padding: 0 8rem;
	opacity: 0.7;
}

.text-container {
	opacity: 0.8;
}

.text-container h2 {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

// Hero on presentation
.hero b {
	font-weight: normal;
}

.hero h1 {
	font-weight: 900;
	max-width: 30rem;
}

.hero p {
	font-size: 0.8rem;
}

em {
	color: var(--vision-orange);
	font-style: normal;
}

.presentation-container {
	display: flex;
}

.journey-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center {
	margin-top: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.journey-text {
	font-size: 2.3rem;
	font-weight: 700;
	width: 30rem;
	line-height: 3rem;
}

.features-container {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));

	&> .card {
		flex: 1;
		--padding-card: 1rem 1rem 1.5rem 1rem;
	}
}

.asset {
	flex: 1;
}

.callout-text {
	font-size: 3rem;
	font-weight: bold;
	width: 30rem;
	line-height: 3.5rem;
}

.callout {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem 0;

	& .card {
		width: 100%;
		background-color: var(--vision-orange);

		&-body {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin: 0 2rem;

			p {
				width: 20rem;
				font-size: 1.6rem;
				font-weight: bold;
			}
		}

		&-actions {
			margin: 0;

			button {
				background-color: white;
				color: var(--vision-orange);
				border: none;
				font-weight: bold;
			}
		}
	}
}

// Footer
.footer-title {
	text-transform: uppercase;
	color: #95999d;
	opacity: 1;
}

// copy
#copy {
	outline: none;
	width: 1rem;
	height: 1rem;
}

#copy:hover {
	background-color: #FFF;
}

#copy:hover svg {
	stroke: #0e0e0e;
}

.mockup-code {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: black;
	border-radius: 1rem;
}

.mockup-code pre {
	height: 1.5rem;
	display: flex;
	justify-content: flex-start;
	padding: 0 2rem;
	margin-right: 1rem;
	font-size: 0.8rem;
}

.mockup-code pre::before, .mockup-code::before {
	content: none;
}

.copy-mail {
	position: relative;
	margin-top: 2rem;
}

.copy {
	position: absolute;
	top: 50%;
	right: 0.7rem;
	transform: translateY(-50%);
}

#copy {
	border-radius: 0.2rem;
}

#copy:focus {
	outline: 1px solid #FFF;
}