#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer-title
    text-transform uppercase

body
    background-color: hsla(210, 20%, 98%, 1);